.sidebar {
    flex: 1;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    top: 56px;
    position: sticky;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}
.sidebar::-webkit-scrollbar-track {
    background-color: #f0f2f5;
}
.sidebar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: rgb(183, 185, 187);
}

.sidebarWrapper {
    padding: 20px 0 10px 10px;
}
.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarAvatar {
    height: 30px;
    width: 30px;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    padding:15px 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all .1s ease;
}
.sidebarListItem:hover{
    background-color: #e4e6eb;
}
.sidebarHr {
    display: block;
    background-color: #d4d6d9;
    background: #d4d6d9;
    color: #d4d6d9;
    height: 0.1px;
    margin: 8px 0;
}
.sidebarIcon {
    margin-right: 15px;
    font-size: 30px;
}
.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}