.topbarContainer {
    height: 56px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 0px 0px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 0px 0px rgba(0,0,0,0);
}
.topbarLeft {
    display: inline-flex;
    line-height: 56px;
    align-items: center;
    flex-grow: 1;
}
.topbarLeft img{
    height: 45px;
    width: auto;
    margin: auto 0;
}
.topbarLeft .search {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 50px;
    padding: 8px 10px;
    color: #909296;
    flex: 1;
}
.search .iconSearch {
    font-size: 25px;
}
.search input {
    border: none;
    width: 100%;
    background-color: #f0f2f5;
}
.search input:focus {
    outline: none;
}

.topbarCenter {
    flex-grow: 2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 0 150px;
    flex-shrink: inherit;
}

.topbarCenter .iconTopbar {
    padding: 8px 40px;
    border-radius: 12px;
    cursor: pointer;
    color: #65676b;
    font-size: 30px;
}
.topbarRight .iconTopright {
    cursor: pointer;
    color: black;
    padding: 8px;
    background-color: #e4e6eb;
    border-radius: 50%;
    margin: 0 4px;
}
.topbarCenter .iconHome {
    color: blue;
}
.topbarCenter .iconTopbar:hover {
    background-color: #f0f2f5;
}
.topbarRight {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content:flex-end;
}

.topbarRight .avatar {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 20px;
}
.topbarRight .avatar:hover {
    background-color: #f0f2f5;
}
.topbarRight .avatar .imgavatar {
    height: 25px;
    width: 25px;
}
.topbarRight .avatar span {
    margin: 0 8px;
}

.toggle__select {
    position: relative;
}

.toggle__selects {
    position: absolute;
    top: 100%;
    right: 0;
    height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 20px;
}

.toggle__select-info {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
}

.toggle__select-info::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #909296;
}

.toggle__select-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggle__select-items li {
    list-style-type: none;
    padding: 1rem 0;
    border-radius: 8px;
    padding-left: 4px;
    transition: all .3s ease;
}

.toggle__select-items li:hover {
    background-color: #909296;
    cursor: pointer;
}