.rightbar {
    flex: 1;
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    position: sticky;
}

.rightbar::-webkit-scrollbar {
    width: 10px;
}
.rightbar::-webkit-scrollbar-track {
    background-color: #f0f2f5;
}
.rightbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.rightbar:hover::-webkit-scrollbar-thumb {
    background: rgb(183, 185, 187);
}

.rightbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.rightbarFriendList {

}
/* profileRightbar */
.profileTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}
.introduce {
    padding: 10px 10px 10px 10px;
    background-color: white;
    margin-bottom: 20px;
}
.introduce > p {
    margin: 10px 0;
}
.totalFriend {
    padding: 5px 10px 15px 10px;
}
.profileFollowing img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}
.profileListFriend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profileFollowing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
